@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Raleway&display=swap');

[id*="answer"] {
    display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#myBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #60993e;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
}

/* Style for the button when hovered */
#myBtn:hover {
    background-color: #00b2ca;
}

header {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: #cc3e5c;
}

header h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: white;
}

main {
    padding: 20px;
    text-align: center;
    background-color: #60993e;
}

#hero {
    height: 700px;
    width: 100%;
    background: url("../images/annie-spratt-hero.webp") no-repeat center center/cover;
    position: relative;
}

#hero-text {
    background-color: rgba(204, 62, 92, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    width: 80%;
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    background-color: #60993e;
    color: #fff;
    padding: 10px;
    margin: 8px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #00b2ca;
}

#score {
    font-size: 20px;
    font-weight: bold;
    background-color: #cc3e5c;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#play-Again {
    margin-top: 25px;
    visibility: hidden;
}

footer {
    background-color: #cc3e5c;
    color: #fff;
}

/* Social media tags */
#facebook,
#twitter,
#youtube,
#instagram {
    display: inline-block;
    padding: 5px;
    margin: 0 10px;
}

@media screen and (min-width: 280px) {
    header h2 {
        font-size: 20px;
        margin-right: 30px;
    }
    #hero-text {
        margin-bottom: 40%;
    }
    #myBtn {
        top: 5px; /* Adjust button position */
        right: 5px; /* Adjust button position */
        font-size: 14px; /* Decrease font size */
        padding: 3px 5px; /* Adjust padding */
    }
    #score {
        font-size: 14px; /* Decrease font size */
        padding: 5px; /* Adjust padding */
        top: 5px; /* Adjust score position */
        margin-top: 2.5em
    }
    #quiz-title {
        font-size: 16px;
    }
}
/* media query for 320 pixels minimum */
@media screen and (min-width: 320px) {
    header h2 {
        font-size: 14px;
        padding: 20px;
        margin-top: 10px;
    }
    #hero-text {
        width: 60%;
    }
    #facebook {
        margin-left: 20px;
    }
    #twitter {
        margin-left: 20px;
    }
    #youtube {
        margin-left: 20px;
    }
    #instagram {
        margin-left: 20px;
    }
    #score {
        margin-top: 3em;
    }
}
/* media query for 375 pixels minimum */
@media screen and (min-width: 375px) {
    #hero-text {
        margin-top: 2em;
    }
    #facebook {
        margin-left: 30px;
    }
    #twitter {
        margin-left: 30px;
    }
    #youtube {
        margin-left: 30px;
    }
    #instagram {
        margin-left: 30px;
    }
}
@media screen and (min-width: 412px) {
/* Adjustments for screen width of 412 pixels */
    header h2 {
        font-size: 18px;
        margin-right: 20px;
    }
    #myBtn {
        font-size: 14px;
        padding: 3px 5px;
        top: 5px;
        right: 5px;
    }
    #score {
        font-size: 14px;
        padding: 5px;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    main {
        padding-top: 50px;
    }
    #facebook {
        margin-left: 20px;
    }
    #twitter, #youtube, #instagram {
        margin-left: 20px;
    }
}

@media screen and (min-width: 425px) {
    #hero-text {
        margin-top: 2em;
    }
    #facebook {
        margin-left: 40px;
    }
    #twitter {
        margin-left: 20px;
    }
    #youtube {
        margin-left: 20px;
    }
    #instagram {
        margin-left: 20px;
    }
    #score {
        margin-top: inherit;
    }
}
/* Adjustments for iPad Mini (768px) */
@media screen and (max-width: 768px) {
    header h2 {
        font-size: 24px;
        margin-right: 20px;
    }
    #myBtn {
        font-size: 16px;
        padding: 5px 10px;
        top: 10px;
        right: 10px;
    }
    #score {
        top: 10px; /* Adjust top positioning */
        left: 50%;
        transform: translateX(-50%);
    }
    main {
        padding-top: 60px;
    }
    footer {
        padding: 40px;
    }
    #facebook {
        margin-left: 20px;
    }
    #twitter, #youtube, #instagram {
        margin-left: 20px;
    }
}

@media screen and (min-width: 1024px) {
    #hero {
        padding-right: 20px;
    }
    #hero-text {
        margin-top: auto;
    }
    #facebook {
        margin-left: 40px;
    }
    #twitter {
        margin-left: 20px;
    }
    #youtube {
        margin-left: 20px;
    }
    #instagram {
        margin-left: 20px;
    }
    #score {
        font-size: 14px;
    }
}

/* Media query to target large laptops*/
@media screen and (min-width: 1440px) {
    #hero-text {
        margin-top: 5%;
        padding: 10%;
    }
    #answerOne {
        margin-right: 3rem;
        padding: 10px;
        font-size: 25px;
    }
    #answerTwo {
        margin-right: 3rem;
        padding: 10px;
        font-size: 25px;
    }
    #answerThree {
        margin-right: 3rem;
        padding: 10px;
        font-size: 25px;
    }
    #answerFour {
        margin-right: 3rem;
        padding: 10px;
        font-size: 25px;
    }
    #answerFive {
        margin-right: 3rem;
        padding: 10px;
        font-size: 25px;
    }
    #question {
        font-size: 40px;
    }
    header h2 {
        font-size: 35px;
        text-align: left;
    }
    #score {
        padding: 1rem;
        font-size: 35px;
    }
    #facebook {
        margin-left: 40px;
    }
    #twitter {
        margin-left: 20px;
    }
    #youtube {
        margin-left: 20px;
    }
    #instagram {
        margin-left: 20px;
    }
}
