@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Raleway&display=swap');

header {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: #cc3e5c;
}
header h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: white;
}

main {
    padding: 20px;
    text-align: center;
}
#hero {
    height: 700px;
    width: 100%;
    background: url(../images/annie-spratt-hero.webp) no-repeat center center/cover;
    position: relative;
}
#hero-text {
    background-color: rgba(204, 62, 92, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    width: 80%;
}

#Question {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    background-color: #60993e;
    color: #1f363d;
    padding: 10px;
    margin: 8px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #00b2ca;
}

#score {
    font-size: 20px;
    font-weight: bold;
    background-color: #cc3e5c;
    color: #fff;
}

#play-Again {
    margin-top: 25px;
    visibility: hidden;
}

footer {
    background-color: #cc3e5c;
    color: #fff;
}

@media screen and (min-width: 280px) {
    header h2 {
        font-size: 24px;
    }

    #hero-text {
        margin-top: 80%;
        width: 100%;
    }
}